body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('../assets/download.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 480px) {
  body{
      background-image: url('../assets/Finn e Jack relaxando.png');
  }
}

.carrossel{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin: 10px;
  width: 94%;
}


.buttons{
  padding: 20px;
}

.carousel {
display: flex;
overflow-x: auto;
scroll-behavior: smooth;
gap: 32px;
padding: 100px;
width: 100%;
}

.carousel::-webkit-scrollbar {
display: none;
}

.kingdom-container {
min-width: 300px;
height: 370px;
flex: 30;
background-color: rgba(255, 255, 255, 0.8);
border-radius: 10px;
padding: 16px;
text-align: center;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.kingdom-image {
width: 30vh;
border-radius: 10px;

}

.kingdom-title {
font-size: 1.5em;
font-weight: bold;
margin-top: 10px;
}

.kingdom-description {
margin-top: 10px;
color: #333;
font-size: small;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
 
  font-size: 2rem;
  padding: 20px;
 
  border-radius: 50%;
 
}


